body {
  font-family: "Quicksand";
  position: relative;
  min-height: 100vh;
  margin: 0;
}

.container {
  position: relative;
  margin: 5em;
}

.favourite {
  display: block;
}

.fav--before {
  display: block;
}

.fav--after {
  display: none;
  color: red;
}

/* hide before heart */
.favourite:hover .fav--before {
  display: none;
}
/* when hover show red heart */
.favourite:hover .fav--after {
  display: block;
}

.footer {
  bottom: 0;
  left: 0;
}
