html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand";
  position: relative;
  min-height: 100vh;
  margin: 0;
}

.container {
  position: relative;
}

.favourite {
  display: block;
}

.fav--before {
  display: block;
}

.fav--after {
  display: none;
  color: red;
}

/* hide before heart */
.favourite:hover .fav--before {
  display: none;
}
/* when hover show red heart */
.favourite:hover .fav--after {
  display: block;
}

.tag {
  border-radius: 12px;
  background-color: #580aff;
  text-transform: lowercase;
  padding: 0.7em;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
}

.footer {
  bottom: 0;
  left: 0;
}

.react-datepicker-ignore-onclickoutside {
  width: 100%;
  min-width: 0px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  position: relative;
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  font-size: var(--chakra-fontSizes-md);
  height: var(--chakra-sizes-10);
  border-radius: var(--chakra-radii-md);
}
.react-datepicker__input-container {
  border: 1px solid;
  border-color: inherit;
  background: inherit;
  border-color: var(--chakra-colors-gray-300);
  border-radius: var(--chakra-radii-md);
  height: var(--chakra-sizes-10);
}

.react-datepicker__input-container > input {
  padding: 7px 16px;
}

.chakra-editable > .chakra-editable__input:focus,
#Location:focus,
#Description:focus,
.react-datepicker-ignore-onclickoutside:focus,
.chakra-select__wrapper > .chakra-select:focus,
form > .chakra-input:focus,
form > .chakra-textarea:focus {
  z-index: 1;
  border: 1px solid #580aff;
  box-shadow: 0 0 0 1px #580aff;
}

#Location {
  background-color: none;
}

@media screen and (min-width: 48em) {
  .css-3m0ceo > .css-19teblb {
    width: 100%;
  }
}

.wave-home {
  background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .footer-container {
    padding-bottom: -7em;
  }
  .footer-links {
    visibility: hidden;
  }
}

/* lineup class and keyframes */
.fadeUpAnimation {
  animation: 2s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.react-datepicker__month-container,
.react-datepicker__time-container {
  font-family: Quicksand;
  font-size: 1.1em;
}
.react-datepicker__week > .react-datepicker__day--selected,
.react-datepicker__week > .react-datepicker__day:hover,
.react-datepicker__week > .react-datepicker__day--keyboard-selected,
.react-datepicker
  > .react-datepicker__time-container
  > .react-datepicker__time
  > .react-datepicker__time-box
  > ul.react-datepicker__time-list
  > li.react-datepicker__time-list-item--selected,
.react-datepicker
  > .react-datepicker__time-container
  > .react-datepicker__time
  > .react-datepicker__time-box
  > ul.react-datepicker__time-list
  > li.react-datepicker__time-list-item:hover {
  background-color: #580aff;
  color: #ffffff;
}

.react-datepicker__month-container > .react-datepicker__header,
.react-datepicker__time-container > .react-datepicker__header {
  background-color: #ffffff;
}
.react-datepicker__day-names > .react-datepicker__day-name {
  font-weight: bold;
}
.react-datepicker__navigation > .react-datepicker__navigation-icon {
  font-size: 10px;
}
